<?xml version="1.0"?>
<config>
    <modules>
        <Los312_Async>
            <version>0.1.0</version>
        </Los312_Async>
    </modules>
    <frontend>
        <routers>
            <async>
                <use>standard</use>
                <args>
                    <module>Los312_Async</module>
                    <frontName>async</frontName>
                </args>
            </async>
        </routers>
        <layout>
            <updates>
                <los312_async>
                    <file>los312_async.xml</file>
                </los312_async>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <los312_async>
                <class>Los312_Async_Block</class>
            </los312_async>
        </blocks>
        <models>
            <los312_async>
                <class>Los312_Async_Model</class>
            </los312_async>
        </models>
        <helpers>
            <los312_async>
                <class>Los312_Async_Helper</class>
            </los312_async>
        </helpers>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <los312_async_send_blocks>
                        <class>Los312_Async_Model_Observer</class>
                        <method>sendBlocksToAsyncRendering</method>
                    </los312_async_send_blocks>
                    <los312_async_render>
                        <class>Los312_Async_Model_Observer</class>
                        <method>asyncBlockRender</method>
                    </los312_async_render>
                </observers>
            </controller_action_layout_render_before>
            <http_response_send_before>
                <observers>
                    <los312_async_html>
                        <class>Los312_Async_Model_Observer</class>
                        <method>replaceAsyncBlockPlaceholdersToHtml</method>
                    </los312_async_html>
                </observers>
            </http_response_send_before>
        </events>
        <async_adapters>
            <curl>
                <name>Curl</name>
                <class>los312_async/adapter_curl</class>
            </curl>
            <!--             <pcntl>
                <name>Pcntl</name>
                <class>los312_async/adapter_pcntl</class>
            </pcntl>-->
        </async_adapters>
        <async_storages>
            <default>
                <name>Default magento cache</name>
                <class>los312_async/storage_default</class>
            </default>
        </async_storages>
    </global>
    <default>
        <los312_async>
            <los312_async_design>
                <loader_image>images/loader.gif</loader_image>
            </los312_async_design>
            <los312_async_advanced>
                <adapter>los312_async/adapter_curl</adapter>
                <waiting_time_limit>30</waiting_time_limit>
                <storage>los312_async/storage_default</storage>
            </los312_async_advanced>
        </los312_async>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <los312_async translate="title" module="los312_async">
                                            <title>Async Settings</title>
                                        </los312_async>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
